body {
    color: #eceff1;
}

a {
    color: #fff176;
}

.container {
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
}

nav {
    height: 150px;
}

.carousel {
    max-height: 120px;
    width: 75%;
}

#player-content {
    max-height: 120px;
}

#large-music-player {
    max-height: 120px;
    margin-top: 10px;
    border-radius: 5px;
    margin: 1% 0 0 21%;
    box-shadow: inset 0 0 7px #546e7a;
}

#carousel-item {   
    transform: translateX(-7.5px) translateY(-40px) translateX(120px) translateZ(-405.326px);
}

/*#art-spinner {
    pointer-events:none;
}*/

.playlist-song {
    padding: 0 25px 0 25px;
}

.song-voting{
    float: right;
}

.vote-total {
    font-size: x-large;
}

.voteActive { 
    color: #ffd600;
}

.progress {
    background-color: #fffdf7;
}

.progress .determinate { 
    background-color: #ffd600;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left:5%;
}

.toast {
    font-weight: bold;
    background-color: #cfd8dc; 
    color: #37474f;
}

.poke {
    cursor: pointer;
}