<div ng-controller="HomeCtrl">
    <div class="container" id="login-container">
        <div class="col s12 m4 l8">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <form id="login-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="lobby-id" type="text" class="validate" ng-model="lobbyID">
                                <label for="lobby-id">Lobby ID</label>
                            </div>  
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a href="#!/lobby/111" >Join</a>
                    <a ng-click="login()">Create Lobby</a>
                </div>
            </div>
            </div>
            </div>
        <br/>
    </div>
</div>