<div ng-controller="LobbyCtrl" ng-init="init()">
    <nav class="blue-grey darken-2" ng-click="showSearch = false">
        <div class="nav-wrapper row">
            <a href="#!/home" class="brand-logo">Skratch</a>
            <music-player class="col s9" ></music-player>
        </div>
    </nav>
    <div class="container blue-grey" ng-click="showSearch = false">
        <div id="filler" style="height:10px;">
        </div>
        <div class="playlist-song row repeated-item" ng-repeat="song in songs" ng-if="$index > 0" id="{{_id}}">
            <div class="details-container row valign-wrapper" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false">
                <div class="song-details col s6 valign">
                    <div>
                        <i class="material-icons tooltipped poke" id="remove-song" onclick="Materialize.toast('Removed!', 4000)" ng-click="removeSong($index)" ng-show="hoverEdit && isHost" data-position="top" data-delay="800" data-tooltip="Remove">label</i>
                        <br/>
                        <i class="material-icons tooltipped poke" id="song-play-now" ng-show="isHost" ng-click="playNow($index)" data-position="top" data-tooltip="Play Now">play_arrow</i>
                        <i class="material-icons tooltipped poke" id="song-play-next" ng-show="isHost" ng-click="playNext($index)" data-position="top" data-tooltip="Play Next">skip_next</i>
                    </div>
                    <div>
                        <a class="song-text">{{song.title}}</a>
                        <br/>
                        <a>{{song.artist}} - {{song.album}}</a>
                    </div>
                </div>
                <div class="col s6">
                    <div class="song-voting valign">
                        <i class="material-icons poke" id="up-vote" ng-class="{'voteActive': song.voteType == 1}" ng-click="upVote($index)">thumb_up</i>
                        <label class="vote-total">{{song.voteTotal}}</label>
                        <i class="material-icons poke" id="down-vote" ng-class="{'voteActive': song.voteType == -1}" ng-click="downVote($index)">thumb_down</i>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <br/>
    </div>

    <div class="fixed-action-btn" ng-click="showSearch = true" ng-show="!showSearch">
        <a class="btn-floating btn-large grey">
          <i class="large material-icons">search</i>
        </a>
    </div>

    <nav class="blue-grey darken-1" style="position:fixed; bottom:0;" ng-show="showSearch">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                <input id="search" type="search" placeholder="Search song, artist, album ..." required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons" ng-click="showSearch = false">close</i>
                </div>
            </form>
        </div>
    <nav>
</div>

<footer>
    LobbyID: {{lobbyID}}
</footer>

<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 800});

        $('.carousel').carousel({
            "dist": -200,
            "no-wrap": true
        });
    });
</script>
