<div class="row" id="music-player" ng-controller="MusicPlayerCtrl">
    <div class="hide-on-small-only blue-grey lighten-2 col s11" id="large-music-player">
        <div class="row" id="player-content">
            <div class="carousel col s3" id="art-spinner">
                <a class="carousel-item" href="#one!" ng-repeat="song in songs">
                    <img src="{{song.albumArt}}">
                </a>
            </div>
            <div class="col s9" id="song-details">
                <div>
                    <a class="song-text">{{songs[0].title}}</a>
                    <br/>
                    <a class="song-text">{{songs[0].artist}}</a> - <a class="song-text">{{songs[0].album}}</a>
                </div>
            </div>
            <div class="row">
                <div class="progress">
                    <div class="determinate" id="progress-bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="small-music-player" class="right hide-on-med-and-down">

    </div>
</div>

<script>
    angular.element('#progress-bar').css('width', '70%');
</script>